div {
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(41, 40, 40, 0.2);
    background-color: rgba(220, 207, 207, 0.2);
    border-radius: 10px; /* 5px rounded corners */
}

img {
    max-width: 200px;
}

.align-X {
    text-align: right;
}